.container{
    margin: 0 auto;
    background-color: antiquewhite;
    width: 90%;
    padding: 10px;
}
h2{
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}
.button{
    background-color: beige;
    border: 1px solid coral;
    border-radius: 5px;
    font-size: 25px;
    margin: 0 auto;
    display: block;
}
.button:hover{
    background-color: rgb(252, 252, 174);
    cursor: pointer;
}
.grid{
    max-width: 500px;
    min-height: 500px;
    display: grid;
    background-color: darkcyan;
    margin: 10px auto;
}
.grid-item{
    background-color: darkgray;
    border: 0.5px solid rgb(95, 93, 93);
}